body {
  max-width: 1920px;
  margin: auto;
  font-family: 'Inter';
  font-style: normal;
}

* {
  font-family: inherit;
  font-style: inherit;
}

.top-header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  align-items: center;
}

.top-header .name {
  font-size: 26px;
}

.nav ul {
  display: flex;
  list-style: none;
  font-size: 14px;
  margin: 0;
}

.nav li {
  padding: 0 10px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.social-link img {
  width: 20px;
}

#about {
  display: flex;
  background: #F6D2B8;
  padding: 100px;
  position: relative;
}

.picture {
  flex: 1;
  margin: 0 20px;
  z-index: 0;
}

.picture img {
  width: 100%;
}

.picture.left::before,
.picture.right::before {
  content: ' ';
  width: 374px;
  height: 329px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.picture.left::before {
  background: #E5975F;
  left: 0;
}

.picture.right::before {
  background: #BEB45A;
  right: 0;
}

#about-me {
  flex: 2;
}

.about-me__title {
  margin: 1em 0 60px;
  font-size: 30px;
}

.about-me__introduction {
  font-family: 'Spectral';
  font-weight: 800;
  font-style: italic;
  width: 60%;
}

#about-me p {
  width: 80%;
  font-size: 14px;
}

.title {
  text-align: center;
  padding: 2em 0;
}

.gallery .nav {
  justify-content: center;
}

.nav-pills .nav-link {
  color: #000;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background: #BEB45A;
  border-radius: 0;
}

.item-column {
  position: relative;
  margin: 0;
  padding: 0;
}

.item-column::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: .5em;
}

.mg-prev, .mg-next {
  width: 30px;
  height: 30px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.quote {
  font-family: 'Spectral';
  font-style: italic;
  width: 70%;
  margin: auto;
  padding: 3em 0;
}

.quote__text {
  font-weight: 300;
}

.quote__author {
  font-weight: 800;
  font-size: 22px;
}

#services, #contact {
  margin: auto;
  position: relative;
  background: #A8D5D8;
}

#services .container, #contact .container {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
}

#services .container::before {
  content: ' ';
  background: #1C6474;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.service {
  background: #fff;
  max-width: 390px;
  width: 30%;
  height: 337px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

#contact {
  background: #D8D3A8;
  padding: 100px;
}

.form-container {
  flex: 2;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: flex-start;
}

form input, form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid;
  margin-bottom: 20px;
}

form input {
  height: 2.5em;
}

form textarea {
  height: 5em;
  line-height: 2.5em;
  font-size: 1.2em;
}

input[type="submit"] {
  background: #BEB45A;
  padding: .5em 1em;
}

/* Responsive */

@media (max-width: 1180px) {
  .picture { flex: 2; }
  #about, #contact .container { align-items: center; }
  .about-me__title { margin: 0 0 1em; }
  #about-me h6, #about-me p { width: 100%; }
}

@media (max-width: 1000px) {
  #about { flex-direction: column; }
  .picture { width: 50%; }
  .picture.left::before {
    width: 100%;
    height: 30%;
    top: 0;
  }
  .about-me__title {
    text-align: center;
    margin-top: 1em;
  }
  #services .container, #contact .container {
    flex-direction: column;
  }
  .service {
    width: 100%;
    height: auto;
    margin: 2em 0;
  }
  #services .container::before {
    width: 30%;
    height: 100%;
    right: 0;
    left: auto;
  }
  #contact .picture.right {
    margin-top: 1em;
  }
  .picture.right::before {
    width: 100%;
    height: 30%;
  }
}

@media (max-width: 650px) {
  .top-header {
    flex-direction: column;
    padding-inline: 0;
  }
  .top-header .nav, .top-header .nav ul {
    width: 100%;
  }
  .top-header .nav li {
    flex: 1;
    padding-block: 1em;
    text-align: center;
  }
  .picture.left::before, .picture.right::before {
    height: 150px;
  }
  #services .container {
    align-items: center;
  }
  .service {
    max-width: 90%;
  }
  #about, #contact {
    padding: 2em;
  }
  form {
    width: 100%;
  }
  .picture {
    width: 80%;
  }
}
